.Hero {
  color: white;
  margin: 3rem auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  width: 45%;
}

.text h1 {
  font-size: 55px;
  font-weight: 700;
}

.text p {
  width: 85%;
  margin: 1.5rem 0;
  font-size: 0.9rem;
  line-height: 25px;
  font-weight: 500;
}

.Hero figure {
  width: 45%;
}

.Hero figure img {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-bottom: 1.5rem;
}

.EnrolBtn {
  background-color: #1d4ed8;
  border: 1px solid #1d4ed8;
  padding: 15px 24px;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.DownloadBtn {
  background-color: transparent;
  border: 2px solid white;
  padding: 15px 24px;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.Hero button a {
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .text {
    width: 50%;
  }
}

@media (max-width: 1050px) {
  .Hero figure {
    width: 40%;
  }

  .text {
    width: 55%;
  }

  .buttons {
    width: 85%;
  }
}

@media (max-width: 900px) {
  .Hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem auto;
  }

  .text {
    width: 85%;
    margin: 0 auto;
  }

  .Hero figure {
    width: 85%;
    margin: 0 auto;
  }

  .Herofigure img {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .buttons {
    display: block;
  }

  .buttons button:first-of-type {
    margin-bottom: 1rem;
  }
  .text h1 {
    font-size: 40px;
  }
}
