.btnDiv {
    display: flex;
    /* justify-content: center; */
    margin-top: 1rem;
    position: relative;
}

.btn {
    /* width: 12.75rem; */
    border: none;
    background-color: #1D4ED8;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-family: var(--font);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
}

.btn2 {
    border: none;
    background-color: #F5F5F5;
    padding: 0.5rem;
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    color: #06062A;

}

.backhome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
}

.backarrow {
    width: 25px;
    height: 25px;
}

.backarrow img {
    width: 100%;
    height: 100%;
}

.or {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.or div {
    width: 40%;
    height: 1px;
    background-color: rgba(151, 151, 151, 0.3);
}

.or h1 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(17, 17, 17, 0.5);
}


.google {
    border: 1px solid #F5B436;
    border-radius: 5px;
    padding: 0.6rem;
    width: 100%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;

}

.googleCont {}

.googleDiv {
    width: 25px;
    height: 25px
}

.googleDiv img {
    width: 100%;
}

.p3 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;

}

.loader {
    position: absolute;
    top: 25%;
    right: 15%;
    animation: rotation 1s linear infinite;
    /* font-size: 1.2em; */

}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}