.form Button {
    width: 100%;
}


.form select {
    /* width: -webkit-fill-available; */
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    border-radius: 5px;
    margin: 0.8rem 0;
    background: #172023;
    border: 1px solid #1D4ED8;
    color: #fff;
    outline: none;
}

.title {
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #fff;

}

.rent {
    color: #fff;
}

.p1 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    padding: 1rem 0 2rem 0;

}

.p2 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #fff;

}



.p3 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    padding: 2rem 0;

}

.p3 span {
    font-weight: bold;
    color: #fff;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.checkbox input {
    width: 20px;
    height: 20px;
}

.checkbox label {
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #111111;

}

.modal {
    width: 40%;
    min-width: 17rem;
    height: 50%;
    min-height: 17rem;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;

}

.modalContent {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;

}

.modalImageDiv {
    width: 40%;
    margin: auto;
    padding-top: 1rem;
}

.modalImageDiv img {
    width: 100%;
    height: 100%;
}

.modalContent h1 {
    width: 100%;
    font-family: var(--font);
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #111111;
    padding: 1rem 0;
}

.modalContent p {
    font-family: var(--font);
    font-style: normal;
    font-weight: 450;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
    padding-bottom: 1rem;
}

.modalContent button {
    position: absolute;
    top: 0;
    right: 0;
}


