.head {
    background-color: #171717;
    position: relative;
    color: white;
    width: 85%;
    margin: auto;
}

.head a{
    text-decoration: none;
}

.top img {
    position: fixed;
    top: 60%;
    right: 3%;
    width: 3%;
}

.best {
    padding: 3rem 0;
}

.best h3 {
    color: #1D4ED8;
    margin-bottom: 1rem;
}

.sect {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    grid-gap: 50px;
    margin-top: 3rem;
}

.sect figure {
    width: 100%;
}

.sect figure img {
    width: 100%;
    height: 75%;
}

.texts_first {
    display: flex;
    flex-direction: column;
}

.texts_first p {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 3rem;
    color: #E1E1E1;
}

.texts_first h3 {
    font-weight: 500;
    color: white;
}


/* stacks */

/* .stack{
    width: 90%;
    margin: 0 auto;
} */
.stack h4 {
    color: #1D4ED8;
    text-align: center;
    margin-bottom: 1rem;
}

.stack h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 43%);
    gap: 80px;
}

.stack .allCourse {
    background-color: #1D4ED8;
    border: 1px solid #1D4ED8;
    border-radius: 6px;
    padding: 15px 40px;
    display: flex;
    justify-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin: 3rem auto;
    color: white;
}


/* modes */

/* .mode{
    width: 90%;
    margin: 0 auto;
} */
.mode h4 {
    color: #1D4ED8;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 6rem;
}

.mode h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.learnmode h2 {
    text-align: left;
    margin-bottom: 1rem;
}

.learnmode p {
    margin: 1.5rem 0;
    font-size: 0.9rem;
    line-height: 30px;
    font-weight: 500;
    color: #E1E1E1;
}

.learnmode {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.learnmode2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

.learnPHY {
    width: 45%;
}

.learnPHY button {
    background-color: #1D4ED8;
    border: 1px solid #1D4ED8;
    border-radius: 4px;
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    color: white;
}

.learnIMG {
    width: 45%;
}

.learnIMG img {
    width: 100%;
}

/* faq */

/* .faq{
    width: 90%;
    margin: 0 auto;
} */
.faq h4 {
    color: #1D4ED8;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 6rem;
}

.faq h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.faq h2:last-of-type {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.quest {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    width: 70%;
    margin: 1rem auto;
    background-color: #2A2A2A;
}

.quest1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem auto;
    background-color: #2A2A2A;
}

.questOpen {
    padding: 1rem 3rem;
    width: 70%;
    margin: 1rem auto;
    background-color: #2A2A2A;
}

.questOpen hr {
    background-color: #DFDDDD;
    border: 1px solid #DFDDDD;
}

.questOpen p {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 1rem 0;
    color: #E1E1E1;
}

.faq button {
    background-color: #1D4ED8;
    border: 1px solid #1D4ED8;
    border-radius: 4px;
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    justify-items: center;
    margin: 1rem auto;
    text-align: center;
    color: white;
}

/* tutor */

.tutortext {
    width: 45%;
}

.tutor {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 7rem;

}

.tutortext button {
    background-color: #1D4ED8;
    border: 1px solid #1D4ED8;
    border-radius: 4px;
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    color: white;
}

.tutor h2 {
    text-align: left;
    margin-bottom: 1rem;
}

.tutor h4 {
    text-align: left;
    color: #1D4ED8;
    margin-bottom: 1rem;
}

.tutor p {
    margin: 1.5rem 0;
    font-size: 0.9rem;
    line-height: 30px;
    font-weight: 500;
    color: #E1E1E1;
}

.tutorIMG {
    width: 45%;
}

.tutorIMG img {
    width: 100%;
}

/* testimonies */


.testimonies h2 {
    text-align: left;
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}

.testimonies p {
    margin: 1rem 0;
    font-size: 0.9rem;
    line-height: 30px;
    font-weight: 500;
    color: #E1E1E1;
}

.testimonies h4 {
    text-align: left;
    color: #1D4ED8;
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}

.testimonies h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.testimonies {
    display: flex;
    justify-content: space-between;
    margin: 6rem auto;
}

.testimonies button {
    background-color: #1D4ED8;
    border: 1px solid #1D4ED8;
    border-radius: 4px;
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 2rem 0;
    text-align: center;
    color: white;
}

.testimonies_first {
    width: 45%;
}

.testimonies_second {
    width: 45%;
    height: 30rem;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: hidden;

}


/* .testimonials_second */
/* 
.testimonies_second h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.grey {
    background-color: #2A2A2A;
    padding: 2rem;
    margin-top: 2rem;
}


.black {
    background-color: #161F22;
    padding: 2rem;
    margin-top: 2rem;
} */





@media screen and (max-width:1000px) {
    .sect {
        display: grid;
        grid-template-columns: repeat(auto-fill, 70%);
        grid-gap: 50px;
    }
}

@media screen and (max-width:765px) {
    .cards {
        display: block;
        width: 90%;
        margin: 0 auto;
        /* grid-template-columns: repeat(auto-fill, 90%);
        gap: 100px; */
    }
}

@media (max-width:550px) {
    .learnmode {
        display: block;

    }

    .learnmode2 {
        display: block;
    }

    .learnPHY {
        width: 80%;
        margin: 1rem auto;
    }

    .learnIMG {
        width: 80%;
        margin: 0 auto;
    }

    .titortext {
        width: 80%;
        margin: 1rem auto;
    }

    .tutorIMG {
        width: 80%;
        margin: 1rem auto;
    }

    .tutor {
        display: block;
    }

    .testimonies {
        display: block;
    }

    .testimonies_first {
        width: 80%;
        margin: 1rem auto;
    }

    .testimonies_second {
        width: 80%;
        margin: 1rem auto;
    }
  
}