.form Button {
    width: 100%;
    margin-top: 2rem
}

.title {
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #111111;

}


.p1 {
    font-family: var(--CircularStdBook);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(17, 17, 17, 0.5);
    padding: 1rem 0 2rem 0;

}

.modal {
    width: 40%;
    margin: 0 auto;
    min-width: 17rem;
    height: 50%;
    min-height: 17rem;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;

}

.modalContent {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;

}

.modalImageDiv {
    width: 40%;
    margin: auto;
    padding-top: 1rem;
}

.modalImageDiv img {
    width: 100%;
    height: 100%;
}

.modalContent h1 {
    width: 100%;
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #111111;
    padding: 1rem 0;
}

.modalContent p {
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 450;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
    padding-bottom: 1rem;
}

.modalContent button {
    position: absolute;
    top: 0;
    right: 0;
}