.main {
  height: 100vh;
  display: flex;
  background-color: #171717;
  /* justify-content: space-between; */
}

.logoContainer span {
  font-size: 24px;
  padding-left: 9px;
  font-weight: bolder;
  color: #191f2b;
  font-family: var(--font);
}

.logoContainer {
  display: flex;
  align-items: center;
  padding: 3rem 0 6rem 0;
}

.main a {
  text-decoration: none;
}

.AuthBg {
  width: 50%;
  height: 100vh;
}

.AuthBg img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.darkBg {
  width: 50%;
  /* padding: 4rem 3rem 4rem 7rem; */
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.darkBg_content {
  width: 70%;
  margin-left: 5rem;
}

.darkBg::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* .whitepart Button2 {
  align-items: center;
} */

@media screen and (max-width: 979px) {
  .darkBg {
    /* padding: 4rem 3rem 0 3rem; */

  }
}

@media screen and (max-width: 768px) {
  .darkBg {
    width: 80%;
    margin: 0 auto;
  }

  .AuthBg {
    display: none;
  }

}

@media screen and (max-width: 555px) {
  .darkBg {
    /* padding: 4rem 0rem 0 0rem; */
    
    margin: 0px;
  }
}

@media screen and (max-width: 387px) {
  .darkBg {
    width: 90%;
  }
}

.form Button {
  width: 100%;
}



.title {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #111111;

}

.p1 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(17, 17, 17, 0.5);
  padding: 1rem 0 2rem 0;

}

.checkboxDiv {
  display: flex;
  justify-content: space-between;
}

.checkboxDiv p {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #111111;

}

.checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.checkbox input {
  width: 20px;
  height: 20px;
}

.checkbox label {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #111111;
}

.p3 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(17, 17, 17, 0.5);
  padding: 2rem 0;
}

.rent {
  color: #7453EE;
}