.main {
  height: 100vh;
  display: flex;
  background-color: #171717;
}

.logoContainer span {
  font-size: 24px;
  padding-left: 9px;
  font-weight: bolder;
  color: #191f2b;
  font-family: var(--font);
}

.logoContainer {
  display: flex;
  align-items: center;
  padding: 2rem 0 3rem 0;
}

.main a {
  text-decoration: none;
}

.AuthBg {
  width: 50%;
  height: 100vh;
}

.AuthBg img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.darkBg {
  width: 50%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.darkBg_content {
  width: 70%;
  margin-left: 5rem;
}

.darkBg::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (max-width: 768px) {
  .darkBg {
    width: 100%;
  }

  .darkBg_content {
    width: 80%;
    margin: auto;
  }

  .AuthBg {
    display: none;
  }
}

@media screen and (max-width: 555px) {
  .darkBg {
    padding: 0rem 0rem 0 0rem;
  }
}

@media screen and (max-width: 387px) {
  .darkBg {
    width: 100%;
  }
}