body {
    color: #fff;
}

.wrap {
    padding-top: 130px;
    text-align: center;
}

.welcome {
    font-size: 48px;
    padding-bottom: 6px;
    font-weight: 600;
}

.name {
    font-size: 32px;
    color: #F6F8F9;
    font-weight: 600;
}

.wrap p {
    color: #909DAD;
    padding: 0px 10px;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}

.course {
    width: 29.8%;
    background-color: #1D242D;
    border-radius: 10px 10px 0px 0px;
    margin-top: 30px;
}

.courses {
    margin-left: 60px;

}

.course img {
    width: 100%;
}

.course h2 {
    text-align: center;
    padding: 30px 0px;
    border-bottom: 1px solid #F6F8F9;
    text-transform: capitalize;
}

.course ul {
    display: flex;
    justify-content: space-around;
    padding: 45px 0px;
}

.course ul li {
    list-style: none;
}

.course ul li a {
    text-decoration: none;
    color: #fff;
    padding: 12px;
    transition: 0.3s ease-in-out;
}

.course ul li a:hover {
    background-color: #1D242D;
    box-shadow: 1px 3px 8px #151515;
}

@media screen and (max-width:989px) {
    .course {
        width: 40%;
    }
}

@media screen and (max-width:768px) {
    .wrap {
        padding: 130px 5px 10px 5px;
    }

    .courses {
        margin-left: 0px;
        display: grid;
        width: 100%;
        justify-content: center;
        padding: 0px 20px;

    }

    .course {
        width: 100%;
        margin-top: 10px;

    }

    .course h2 {
        font-size: 20px;
    }

    .welcome {
        font-size: 32px;
    }

    h1 {
        font-size: 32px;
    }

    .name {
        font-size: 20px;
        padding-top: 10px;
    }

    .course ul li {
        font-size: 16px;
    }
}