* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: initial;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: auto;
  max-width: 1740px;
  text-decoration: none;
  background-color: #151515;
}


:root {
  --font: 'Montserrat', sans-serif;
}

html {
  font-family: 'Montserrat', sans-serif;
}