.head {
    background-color: #171717;
    position: relative;
}

.top img {
    position: fixed;
    top: 60%;
    right: 3%;
    width: 3%;
}

.footer{
    width: 90%;
      margin: 0 auto;
  }


  @media (max-width:768px){
    .top img{
        width: 6.5%;
        z-index: 1000;
    }
}