.form Button {
    width: 100%;
    margin-top: 3rem
}

.title {
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #111111;

}


.p1 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(17, 17, 17, 0.5);
    padding: 1rem 0 2rem 0;

}

.modal {
    width: 40%;
    min-width: 17rem;
    height: 50%;
    min-height: 17rem;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;

}

.modalContent {
    width: 80%;
    margin: auto;

}

.modal h1 {
    width: 100%;
    font-family: var(--font);
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #111111;
}

.modalContent Button {
    font-family: var(--font);
    font-style: normal;
    font-weight: 450;
    font-size: 10px;
    color: #111111;
    width: 5rem;
    border-radius: 0;
    background-color: #F5F5F5;

}